<h2 mat-dialog-title>{{ contact.id ? 'Editar Contato' : 'Adicionar Contato' }}</h2>
<mat-dialog-content>
  <form #contactForm="ngForm">
    <div *ngIf="contact.id">
      <div class="contact-image" *ngIf="contact.imagem">
        <img [src]="contact.imagem" alt="Imagem do contato"/>
      </div>
      <mat-form-field appearance="fill">
        <input matInput [(ngModel)]="contact.id" name="id" readonly />
      </mat-form-field>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput [(ngModel)]="contact.nome" name="nome" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="contact.email" name="email" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Telefone</mat-label>
      <input matInput [(ngModel)]="contact.telefone" name="telefone" />
    </mat-form-field>

    <div class="form-group">
      <label for="dataNascimento">Data de Nascimento</label>
      <input type="date" id="dataNascimento" [(ngModel)]="contact.dataNascimento" class="date-input">
    </div>

    <div class="upload-image">
      <input id="img-{{contact.id}}" type="file" (change)="onFileChange($event)" accept="image/*">
    </div>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onSave()">Salvar</button>
  <button mat-button (click)="onCancel()">Cancelar</button>
</mat-dialog-actions>
